.popup {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupContent {
    width: 400px;
    height: 400px;
    background-color: #ccc;
    border-radius: 20px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.popupClose {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.popupClose:hover {
    color:rgb(138, 117, 117);
}